<%- include('./includes/head.ejs') %>
</head>
<body>

<header>
    <%- include('./includes/nav.ejs') %>
</header>

<main>

    <h1>My products</h1>

    <% if (products.length > 0) { %>
        <p>List of products</p>

        <ul>
            <% for (let product of products) { %>

                <li>
                    <%= product.title %>
                    <%= product.price %>
                </li>

            <% } %>
        </ul>
    <% } else { %>

        <p>Empty products list</p>

    <% } %>

</main>

<%- include('./includes/end.ejs') %>
